#title {
  height: 200px;
  text-align: center;
  color: white;
  background-color: plum;
  padding-top: 40px;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  height: 100px;
  width: 100px;
}

#lowerRow {
  margin-top: 10px;
}